.a-barchart {
  min-width: 20px;
  height: 11px;
  border-radius: 5px;
}

.a-barchart.yellow {
  background-color: #ffdd57;
}

.a-barchart.green {
  background-color: #83ff57;
}

.a-barchart.red {
  background-color: #ff6464;
}
