.m-chartline {
    display: grid;
    grid-template-columns: 200px 50px 1fr;
    gap: 20px;
}

.m-chartline .m-chartline-name {
    text-align: right;
    color: #A7A7A7;
    text-transform: capitalize;
}