.t-main{
    width: 100%;
    text-align: center;
}

.t-main-header {

}

.t-main-content, .t-main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-main-footer {
    font-weight: 600;
}