.t-main{
    width: 100%;
    text-align: center;
}

.t-main-content {
    padding: 100px 16px;
}

.t-main-content, .t-main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.t-main-footer {
    display: flex;
    font-weight: 600;
    min-height: 300px;
    background-color: #4474B3;
    align-items: flex-end;
    color: #94C2FF;
    margin-top: 16px;
    padding: 16px;
}