.m-pokemon {
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: relative;
    min-height: 225px;
}
.default {
    background-color: white;
}
.selected {
    background-color: pink;
}

.strong {
    background-color: #00c24a;
}
.weak {
    background-color:#CC483C;
}

.selected img {
    transform: scale(1.5);
} 
.m-pokemon .number {
    background-color: #2a2a2a;
    border-radius: 5px 5px 0 0;
    color: white;
    text-transform: capitalize;
    padding: 8px;
}

.m-pokemon .content {
    border: 1px solid  #2a2a2a;
    border-top: 0;
    border-bottom: 0;
    height: 100%;
}

.m-pokemon .p-type{
    border: 1px solid  #2a2a2a;
    border-top: 0;
    display: grid;
}

.m-pokemon img:hover {
    filter: drop-shadow(0 1mm 4mm #ffffffcc);
    animation: scaleAnimation 1s infinite
}   

@keyframes scaleAnimation {
    0%   { transform: scale(1) }
    50%  { transform: scale(1.5) }
    100% { transform: scale(1) }
  }