[class^="type-"] {
    color: white;
    text-transform: capitalize;
    padding: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.type-water {
    background-color: #527DEE;
}

.type-fire {
    background-color: #ED7C2E;
}

.type-grass {
    background-color: #66B33F;
}

.type-dark {
    background-color: #604D3E;
}

.type-electric {
    background-color: #EDCF22;
}

.type-light {
    background-color: #F8ED69;
}

.type-bug {
    background-color: #A8B820;
}

.type-ice {
    background-color: #98D8D8;
}

.type-rock {
    background-color: #B8A038;
}

.type-psychic {
    background-color: #F85888;
}

.type-fairy {
    background-color: #F49BAC;
}

.type-shadow {
    background-color: #705848;
}

.type-poison {
    background-color: #A040A0;
}
.type-ghost {
    background-color: #5F2A75;
}

.type-steel {
    background-color: #B8B8D0;
}

.type-normal {
    background-color: #9D9972;
}

.type-flying {
    background-color: #A890F0;
}
.type-dragon {
    background-color: #7038F8;
}
.type-fighting {
    background-color: #C02F27;
}
.type-ground {
    background-color: #E2C168;
}
