[class^='type-'] {
  text-transform: capitalize;
  color: white;
  text-shadow: 1px 1px 1px black;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.5s opacity ease-out;
  opacity: 1;
}

.unSelected {
  opacity: 0.2;
}

.unSelected:hover {
  opacity: 1;
}

.type-water {
  background-color: #527dee;
}

.type-fire {
  background-color: #ed7c2e;
}

.type-grass {
  background-color: #66b33f;
}

.type-dark {
  background-color: #604d3e;
}

.type-electric {
  background-color: #edcf22;
}

.type-light {
  background-color: #f8ed69;
}

.type-bug {
  background-color: #a8b820;
}

.type-ice {
  background-color: #98d8d8;
}

.type-rock {
  background-color: #b8a038;
}

.type-psychic {
  background-color: #f85888;
}

.type-fairy {
  background-color: #f49bac;
}

.type-shadow {
  background-color: #705848;
}

.type-poison {
  background-color: #a040a0;
}
.type-ghost {
  background-color: #5f2a75;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-normal {
  background-color: #9d9972;
}

.type-flying {
  background-color: #a890f0;
}
.type-dragon {
  background-color: #7038f8;
}
.type-fighting {
  background-color: #c02f27;
}
.type-ground {
  background-color: #e2c168;
}
